*{
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.container-left {
    width: 30vw;
    height: 100vh;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.image {
    background-image: url("./Assets/pexels-pixabay-326333.jpg");
    height: 100vh;
    background-position: 0 60%;
}
.logo-banner {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30%;
    text-align: center;
    height: 3em;
    background-color: black;
    opacity: 40%;
    color: white;
}
#logo{
    width: 6em;
    height: auto;
    opacity: 100%;
}
.middle-page {
    width: 50vw;
    height: 40vh;
    padding-left: 3vw;
}
.inputs{
    display: flex;
    flex-flow: row wrap;
    column-gap: 5vw;
    width: 50vw;
    height: 30vh;
}
.button-section {
    height: 30vh;
    background-color: white;
    padding: 5vh 0 0 3vw;
}
.text-section{
    display: flex;
    height: 30vh;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 0 15vw 0 3vw;
    
}
.form-title{
    padding: 2vh 0 3vh 0;
    font-size: 1.5em;
    font-weight: 600;
}
.form-text {
    justify-self: center;
}
.input {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.input>input {
    height: 2em;
    border-radius: 5px;
    border: 1px solid;
}
button{
    background-color: #8b4513;
    color: white;
    font-size: 1em;
    padding: 1vh 2vw 1vh 2vw;
    border: none;
    border-radius: 8px;
    box-shadow: grey;
    font-weight: 600;
}