* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: odin;
    src: url(./Assets/Norse-Bold.otf);
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.container-left {
    width: 30vw;
    height: 100vh;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.image {
    background-image: url("./Assets/pexels-pixabay-326333.jpg");
    height: 100vh;
    background-position: 0 60%;
}

.logo-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 20%;
    align-items: center;
    height: 8em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.banner-text {
    font-size: 5.5em;
    font-family: odin;
}

#logo {
    width: auto;
    height: 7em;
    opacity: 100%;
}

.middle-page {
    width: 50vw;
    height: 40vh;
    padding-left: 3vw;
    background-color: white;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5vw;
    width: 50vw;
    height: 30vh;
}

.button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    background-color: rgba(240, 240, 240, 1);
    padding: 5vh 0 0 3vw;
    box-shadow: inset 0px 6px 6px grey;
}

.text-section {
    display: flex;
    height: 30vh;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 1);
    justify-content: center;
    padding: 0 24vw 0 3vw;
    font-size: 1.5em;
    font-weight: 700;
    gap: 3vh;
}

.form-title {
    padding: 2vh 0 3vh 0;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.input {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

label {
    color: rgb(100, 100, 100);
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

input {
    height: 2.2em;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
    box-sizing: border-box;
    transition: border-color 300ms;
}

input:focus {
    border: 2px solid blue;
    outline: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

input:not(:required):placeholder-shown {
    border-color: #E5E7EB;
}

button {
    background-color: #8b4513;
    color: white;
    font-size: 1.1em;
    height: 3em;
    width: 12vw;
    border: none;
    border-radius: 8px;
    box-shadow: grey;
    font-weight: 600;
}

button:not(:disabled):hover {
    cursor: pointer;
}

.login {
    margin-top: 4vh;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #8b4513;
}

.error {
    border-color: red;
    color: red;
    font-style: italic;
}

.valid {
    border-color: green;
}

:valid:not(:placeholder-shown):not(.pword) {
    border-color: green;
}
.footer{
    align-self: center;
    font-family: monospace;
    font-size: 16px;
    color: black;
    margin: 0;
    height: 1.5em;
}
.footer a{
    color: black;
}